* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1E;
  font-family: 'Montserrat', Arial, Helvetica,
    sans-serif;
  overflow-x: hidden;
}

#root {
  margin: 0;

}