.todoItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #c7c7c7;
}

.todoItemCompleted {
    color: green;
    font-weight: bold;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 48px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    color: #000000;
    font-size: 48px;
}

.Icon-check:hover {
    color: rgb(46, 4, 255);
    cursor: pointer;
}

.Icon-check--active {
    color: green;
}

.todoItemText {
    color: black;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.todoItemDelete {
    color: red;
}

.todoItemDelete:hover {
    color: #000000;
    cursor: pointer;
}